.open-sans-normal {
  /* font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.hide{
  display: none;
}
* {
  /* margin: 0%;
  padding: 0%; */
  font-family: open-sans;
}
/* shared-style */
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #575656;
}
.dark-3 {
  color: rgb(117, 117, 117);
}
.text-bold {
  font-weight: bold;
  font-size: 35px;
}
.text-normal {
  font-size: 18px;
  font-weight: normal;
}

.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-weight: 700;
  font-family: 20px;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  width: 150px;
  /* height: 50px; */
}

/* header section starts */
header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left, bottom right;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}
nav ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 0px 50px;
}

.banner-container {
  margin-left: 140px;
}
.banner-greetings {
  font-weight: 600;
  font-size: 40px;
}
.banner-title {
  font-weight: bold;
  font-size: 80px;
}
.banner-profile-pic {
  width: 480px;
}
.banner-discription {
  font-weight: normal;
  font-size: 18px;
  width: 500px;
}
.btn {
  width: 200px;
}

/* about section starts */
.about {
  background-color: rgb(255, 248, 243);
  border-radius: 6px;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  margin-top: 150px;
  /* margin-bottom: 150px; */
  padding: 90px 151px 101px 151px;
  text-align: center;
}
.about-discription {
  line-height: 30px;
}
.about-information {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* about section ends */
/* skill section stats */
.skill {
  margin: 0px auto;
  width: 900px;
  text-align: center;
  margin-bottom: 20px;
  /* border: 1px solid black; */
}
.skill-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.skill-card {
  width: 200px;
  height: 270px;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 15px 20px 15px 20px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  text-align: start;
}
.skill-details {
  line-height: 18px;
}
/* skill section ends */
/* summary-resume starts */
.summary-resume{
  margin: 0 auto;
  width: 800px;
  text-align: center;
}
.summary-container{
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.education{
  width: 50%;
  text-align: start;
}
.experience{
  width: 50%;
  text-align: start;
}
.summary-container-title{
  font-weight: bold;
  font-size: 20px;
}
.institute{
  font-size: 20px;
  font-weight: 600;
}

/* summary-resume ends */
/* footer starts */
footer{
  width: 100%;
  height: 600px;
  background-color: #FFF8F3;
}
.footer-container{
  padding-top: 200px;
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  gap: 100px;
}
.contact{
  width: 50%;
}
.massage{
  width: 50%;
}
.massage input[type="text"] ,input[type="email"] ,textarea{
  display: block;
  height: 60px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  border: none;
  margin: 10px 10px 10px 0px;
  padding: 10px;

}
/* footer section ends */
/* media queary starts */
/* small screen */
@media screen and (max-width:576px) {
  .skill-container{
    display: flex;
    flex-direction: column;
  } 
  .summary-container, .footer-container{
    flex-direction: column;
  }
  
}

  @media screen and (min-width:577px) and (max-width:992px){
    .skill-container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    .skill{
      max-width: 576px;
    }
    
    
  }
 
/* media queary ends */